<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toverland Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToverLand_Website.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/FaviconToverland" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
</head>
<body onload="startTime()">
    <header>
      <div class="col-12">
        <div class="navbar-container">
         <nav class="navbar">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-page="/Index">Toverland Management</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-page="/Index">Dashboard</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-page="/Privacy">Account</a>
                    </li>
                </ul>
            </nav>
        </div>
      </div>
    </header>
    

    <footer>
        <div class="row">        
            </div>
            &copy; 2024 - ToverLand_Website - <a asp-area="" asp-page="/Privacy">Privacy</a></div>
    </footer>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>