<!DOCTYPE html>
<!--
 _____                   _                 _ 
|_   _|____   _____ _ __| | __ _ _ __   __| |
  | |/ _ \ \ / / _ \ '__| |/ _` | '_ \ / _` |
  | | (_) \ V /  __/ |  | | (_| | | | | (_| |
  |_|\___/ \_/ \___|_|  |_|\__,_|_| |_|\__,_|

Leuk dat je op inspecteren hebt geklikt om de code te zien! 
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Toverland Dashboard</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToverLand_Website.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/FaviconToverland" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/rrule@6.1.14/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

     
</head>
<body onload="startTime()">
    <header class="grid">
        <h1>Toverland Management</h1>
         <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-page="/Main">Dashboard</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Privacy">Account</a>
                    </li>
                </ul>
            </nav>
    </header>   
  
  @RenderBody()



    <footer class="foot">
   <img src="images/ToverlandLogo.png" alt="logo Toverland">
   <p>ToverLand Dashboard <br> &copy; 2024 <br>If you have any questions please contact us at Toverland@toverland.com</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>