@page
@model AccountModel

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="css/account.css">
<main>
    <h1>Your Account</h1>
    <div class="wrapper">
        <div class="info-box">
            <p><b>Name:</b><br>Luuk S.</p>
        </div>
        <div class="info-box">
            <p><b>Function:</b><br>Attraction Employee</p>
        </div>
        <div class="info-box">
            <p><b>Salary:</b><br>€18,50 / hour</p>
        </div>
        <div class="info-box">
            <p><b>E-mail:</b><br>luuk.s@toverland.com</p>
        </div>
    </div>
</main>