@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@* <div class="clock" id="clock"></div> 
      <div id='calendar'></div> *@

<div class="row">
<div class="col-1"></div>
<div class="col-10">
    <p>pizza</p>
</div>
<div class="col-1"></div>
</div>