@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}
@{
    Layout = null;
}
  <script src="/_framework/aspnetcore-browser-refresh.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 

  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<body>
<div class="wrapper">
    <form action="">
        <img src="/images/Toverlandflaglogo.png" alt="">
        <h1>Login</h1>
    <div class="input-box">
        <i class='bx bxs-user'></i>
        <input type="text" placeholder="Username" required>
    </div>
    <div class="input-box">
        <i class='bx bxs-lock-alt'></i>
        <input type="password" 
        placeholder="Password" required>
    </div>

    <div class="remember-forgot">
        <label><input type="checkbox">Remember me</label>
        <a href="#">Forgot Password?</a>
    </div>
    <button type="submit" class="btn">Login</button>

    <div class="register-link">
    <p>Don't have an account? Mail the Management <br> <span id="email" onclick="copyToClipboard()">management@toverland.com</span></p>
    </div>
    </form>
</div>

<script>
function copyToClipboard() {
    const emailText = document.getElementById('email').innerText;
    navigator.clipboard.writeText(emailText).then(() => {
        alert('Copied to clipboard');
    }).catch(err => {
        console.error('Failed to copy: ', err);
    });
}
</script>
</body>


