@page
@model MainModel
@{
    ViewData["Title"] = "Main";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet">

<div class="dash"><h1>Dashboard</h1></div>
<main class="grid">
    <div class="card">
  <div><canvas id="occupation"></canvas></div>
    </div>
     <div class="card">
        <div><canvas id="visitors"></canvas></div>
    </div>
     <div class="card">
      <div><canvas id="attraction"></canvas></div>
    </div>
     <div class="card">
      <div id='calendar'></div>
    </div>
    </main>

    <script>
          const chart1 = document.getElementById('occupation');

        new Chart(chart1, {
            type: 'bar',
            data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });

  const ctx1 = document.getElementById('visitors');

  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

const ctx2 = document.getElementById('attraction');

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });




  document.addEventListener("DOMContentLoaded", function () {
  var calendarEl = document.getElementById("calendar");
   var events = 
  [
    {
      title: 'Event 1',
      start: '2024-06-18T10:00:00',
      end: '2024-06-18T12:00:00'
    },
    {
      title: 'Event 2',
      start: '2024-06-19T14:00:00',
      end: '2024-06-19T16:00:00'
    },
    {
      title: 'Troy',
      start: '2024-06-21T14:00:00',
      end: '2024-06-19T16:00:00'
    },
    {
      title: 'Jenga River',
      start: '2024-06-20T14:00:00',
      end: '2024-06-19T16:00:00'
    },

  ];

  var calendar = new FullCalendar.Calendar(calendarEl, 
  {
    timeZone: "UTC",
    initialView: "timeGridWeek",
    height: '100%',
    headerToolbar: {
      left: "prev,next",
      center: "title",
      right: "timeGridDay,timeGridWeek",
    },
    editable: true,
    events: events,
  });

  calendar.render();
});



 
</script>
 

    @* <div class="clock" id="clock"></div> 
       *@

